/******** ********/
* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}

/********** NES BUTTONS STYLING **********/
.new-game,
.continue {
  z-index: 9000;
  position: absolute;
  top: 6%;
  left: 10%;
}

/********** LOG-IN FORM **********/
.form-popup {
  display: none;
  position: fixed;
  top: 12%;
  left: 10%;
  z-index: 8000;
}

/* Add styles to the form container */
.form-container {
  max-width: 350px;
  padding: 10px;
  background: white;
  z-index: 9000;
  position: fixed;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  z-index: 9000;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
  z-index: 9000;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  z-index: 9000;
}

/********** MUSIC TOGGLE **********/
.nes-checkbox {
  width: 300px;
}

/********** PARALLAX BACKGROUND **********/
/********** Dan Stuart @ https://codepen.io/danbhala/pen/GJGQad **********/
.parallax {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.parallax__layer--back {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3);
}

.parallax__layer {
  pointer-events: none;
}

/********** PARALLAX LAYERS **********/
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#0e422b), to(#08a561));
  background: linear-gradient(#0e422b 0%, #08a561 100%);
}
.background {
  position: absolute;
  display: block;
}

.parallax__layer--door {
  padding: 0 150vw;
}
.parallax__layer--door .background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 120wh;
  background-image: url(../assets/images/reddoor.png);
  z-index: 2000;
}

.parallax__layer--doortwo {
  padding: 0 150vw;
}
.parallax__layer--doortwo .background {
  top: 0;
  right: 0;
  bottom: 10%;
  left: 2500px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 120wh;
  background-image: url(../assets/images/slotdoor.png);
  z-index: 2000;
}

.parallax__layer--doorthree {
  padding: 0 150vw;
}
.parallax__layer--doorthree .background {
  top: 0;
  right: 0;
  bottom: 5%;
  left: 0;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 120wh;
  background-image: url(../assets/images/roulettedoor.png);
  z-index: 2000;
}

.parallax__layer--title {
  padding: 0 300vw;
}
.parallax__layer--title .background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: repeat-x;
  background-position: top center;
  background-size: 300vh;
  background-image: url(../assets/images/title.png);
  opacity: 0.7;
  z-index: -100;
}

.parallax__layer--deep {
  padding: 0 250vw;
}
.parallax__layer--deep .background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: 120vh;
  background-image: url(../assets/images/bar.png);
  opacity: 0.7;
  z-index: 100;
}
.parallax__layer--back {
  padding: 0 250vw;
}
.parallax__layer--back .background {
  opacity: 0.3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: repeat-x;
  background-position: top center;
  background-size: 150vh;
  background-image: url(../assets/images/red.png);
  z-index: 3000;
}

.parallax__layer--base {
  padding: 0 300vw;
}
.parallax__layer--base .background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: 200vh;
  background-image: url(../assets/images/light.png);
  opacity: 0.5;
  z-index: 4000;
}

/********** PARALLAX LAYERS ANIMATIONS **********/
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.flicker-base {
  -webkit-animation: flickerAnimation 1.5s infinite;
  animation: flickerAnimation 1.5s infinite;
}

.flicker-back {
  -webkit-animation: flickerAnimation 0.5s infinite;
  animation: flickerAnimation 0.5s infinite;
}

/********** CHARACTER **********/
#player {
  position: absolute;
  bottom: 30px;
  left: 350px;
  background: url(../assets/images/character/player.gif) no-repeat;
  width: 200px;
  height: 200px;
  z-index: 100;
}

#map {
  border: 1px solid black;
  position: relative;
  height: 300px;
  width: 1000px;
}

/* ********* MOBBILE RESPONSIVE **********/
#mobile-responsive {
  height: 100%;
}

#mobile-responsive-warning {
  display: none;
}

/* iPhone X, 6/7/8 plus, Pixel 2 XL PORTRAIT */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  #mobile-responsive {
    display: none;
  }
  #mobile-responsive-warning {
    display: block;
    padding: 30px;
  }
  .nes-smartphone {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .nes-balloon {
    width: auto;
  }
  #mobile-responsive-warning {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 14px;
    text-align: center;
    color: black;
  }
}
/* pixel 2, iphone 6/7/8 PORTRAIT */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #mobile-responsive {
    display: none;
  }
  #mobile-responsive-warning {
    display: block;
    padding: 30px;
  }
  .nes-smartphone {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .nes-balloon {
    width: auto;
  }
  #mobile-responsive-warning {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 14px;
    text-align: center;
    color: black;
  }
}
/* iphone 5/5E, galaxy S5 PORTRAIT */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #mobile-responsive {
    display: none;
  }
  #mobile-responsive-warning {
    display: block;
    padding: 30px;
  }
  .nes-smartphone {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .nes-balloon {
    width: auto;
  }
  #mobile-responsive-warning {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 14px;
    text-align: center;
    color: black;
  }
}

/* iPhone X, 6/7/8 plus, Pixel 2 XL LANDSCAPE */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  #mobile-responsive-warning {
    display: none;
  }

  #mobile-responsive-warning {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 14px;
    text-align: center;
    color: black;
  }

  .form-popup {
    display: none;
    position: fixed;
    top: 3%;
    left: 3%;
    z-index: 9000;
  }

  .form-container {
    max-width: 450px;
    max-height: 300px;
    padding: 10px;
    background: white;
    z-index: 2000;
  }

  .parallax__layer--door {
    top: 0;
    right: 0;
    bottom: 0px;
    left: 0;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 10wh;
  }
}

/* pixel 2, iphone 6/7/8 LANDSCAPE */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #mobile-responsive-warning {
    display: none;
  }
  .form-popup {
    display: none;
    position: fixed;
    top: 3%;
    left: 3%;
    z-index: 9000;
  }

  .form-container {
    max-width: 450px;
    max-height: 300px;
    padding: 10px;
    background: white;
    z-index: 2000;
  }

  .parallax__layer--door {
    top: 0;
    right: 0;
    bottom: 0px;
    left: 0;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 10wh;
  }
}
